<div id="<%= dom_id article %>">
	<p>
		<strong><%= article.ten %></strong>
	</p>
	<p>
		<strong>Noi dung:</strong>
		<%= article.noi_dung %>
	</p>
	<p>
		<strong>Trang thai:</strong>
		<%= article.trang_thai %>
	</p>
	<p>
		<strong>Category:</strong>
		<%= article.category&.ten || "Khong co" %>
	</p>
</div>
