<div class="container">
	<div class="card mt-4" style="width: 30rem;">
		<div class="card-body">
			<h5 class="card-title">Ruby Dev Blogs</h5>
			<ul>
				<li>Ten: <%= @info.ten %></li>
				<li>Nam sinh: <%= @info.nam_sinh %></li>
				<li>Dia chi: <%= @info.dia_chi %></li>
				<li>Dien thoai: <%= @info.dien_thoai %></li>
				<li>Tieu su: <%= @info.tieu_su %></li>
			</ul>
		</div>
	</div>
</div>
