<% if notice.present? %>
	<div class="alert alert-primary" role="alert">
		<%= notice %>
	</div>
<% end %>
<div class="container mt-2">
	<div class="row d-flex align-items-center">
		<div class="col">
			<h1>Categories</h1>
		</div>
		<div class="col text-end">
			<%= link_to "New category", new_category_path, class: 'btn btn-primary' %>
		</div>
	</div>
	<div class="row">
		<div class="col-lg-4">
			<div class="card">
				<div class="card-body">
					<h5 class="card-title">New category</h5>
					<%= render "form", category: @category %>
				</div>
			</div>
		</div>
		<div class="col-lg-8">
			<div class="card">
				<div class="card-body">
					<table class="table">
						<thead>
							<tr>
								<th scope="col">ID</th>
								<th scope="col">Name</th>
								<th scope="col">Created_at</th>
								<th scope="col"></th>
							</tr>
						</thead>
						<tbody>
							<div id="categories">
								<% @categories.each do |category| %>
									<tr>
										<th scope="row"><%= category.id %></th>
										<td><%= category.ten %></td>
										<td><%= category.created_at.strftime("%d/%m/%Y") %></td>
										<td class="d-inline-flex p-2">
											<%= link_to "Show", category, class: 'btn btn-sm btn-secondary mx-2' %>
											<%= link_to "Edit", edit_category_path(category), class: 'btn btn-sm btn-info mx-2' %>
											<%= button_to "Delete", category, method: :delete, data: { confirm: "Are you sure?" }, class: 'btn btn-sm btn-danger mx-2' %>
										</td>
									</tr>
								<% end %>
							</div>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
</div>
